# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install Packages
      run: pip install -r requirements.txt
    - name: Build
      run: scripts\build_linux.sh
  
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install Packages
      run: pip install -r requirements.txt
    - name: Build
      run: scripts/build_win.sh
    
  build-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install Packages
      run: pip install -r requirements.txt
    - name: Build
      run: scripts/build_macos.sh
  
